.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  position: relative;

  .body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 240px);
    padding: 1rem 1rem;

    .lists {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      min-width: max-content;
      height: 100%;

      .items {
        display: flex;
        flex-direction: column;
      }

      .droppable {
        width: 400px;
        height: 400px;
      }

      .item {
        align-self: stretch;
        height: 100%;
      }

      .addNewList {
        background-color: var(--task-list-header-background);
        border: 1px solid var(--task-list-border);
        width: 400px;
        border-radius: 0.3rem;

        .newListTextareaWrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;

          .buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }

        .addNewListText {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          color: white;
          padding: 1rem;
          cursor: pointer;
        }
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--main-background-overlay);
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &.overlayVisible {
      opacity: 1;
      pointer-events: all;
    }
  }
}
