.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .inputSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    .signInLink {
      text-decoration: none;
      color: #0000dc;
    }
  }
}
