.container {
  width: 200px;
  height: 200px;
  border-radius: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    left: 0;
    top: 0;
    border-radius: 0.3rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 0.4;
  }

  .options {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;

    .ellipsis {
      opacity: 0;
      width: fit-content;
      height: fit-content;
      pointer-events: none;
      color: var(--task-list-background);

      &:hover {
        color: var(--primary-text-color);
      }

      &.active {
        opacity: 1;
      }
    }

    .optionList {
      position: absolute;
      opacity: 0;
      right: 1rem;
      pointer-events: none;
      background-color: var(--task-list-background);
      border-radius: 0.3rem;
      overflow: clip;

      &.listActive {
        opacity: 1;
        pointer-events: all;
      }

      .optionListItem {
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        padding: 1rem;
        color: var(--primary-text-color);

        &:hover {
          background-color: var(--main-background-hover);
        }
      }
    }
  }

  &:hover {
    .options {
      .ellipsis {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    z-index: 1;

    .name {
      color: var(--foreground);
      font-size: 1.25rem;
      font-weight: 700;
      z-index: 1;
    }
  }
}
