.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  max-height: 600px;
  transition: height ease-in-out 0.3s;

  .taskDetails {
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    max-width: 720px;

    .markdownArea {
      position: relative;
      width: 100%;
      max-height: 200px;
      border: 1px solid var(--input-border);
      overflow: hidden;

      .editor {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .editorContent {
          width: 100%;
          height: 400px;
          overflow: clip;
          overflow-y: auto;

          & img {
            display: block;
            margin: 0.25rem 0;
            width: 200px;
            height: 200px;
            object-fit: cover;
          }
        }
      }

      .dropzone {
        position: absolute;
        max-height: 240px;
        pointer-events: none;
        opacity: 0;
      }

      .description {
        background-color: transparent;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        vertical-align: center;
        height: 100%;

        &.textareaFocused {
          border: 1px solid var(--input-border);
          height: 240px;
          overflow: auto;
        }
      }
    }

    .markdown {
      background: transparent;
      cursor: pointer;
      padding: 1rem;
      border-radius: 0.3rem;

      &:hover {
        outline: 1px solid var(--input-border);
      }
    }

    .preview {
      border: 1px solid var(--input-border);
      padding: 1rem;
      color: var(--primary-text-color);
      max-height: 60px;
      overflow: hidden;
    }

    .options {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-width: 200px;
    }
  }

  .commentSection {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .commentSectionHeader {
      color: var(--primary-text-color);
      font-weight: bold;
      font-size: 1.25rem;
    }

    .editor {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .editorContent {
        width: 100%;
        min-height: 120px;
        max-height: 200px;
        overflow: hidden;
        overflow-y: auto;
        overflow: clip;
        overflow-y: auto;
        border: 1px solid var(--input-border);

        & img {
          display: block;
          margin: 0.25rem 0;
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
}
