.container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .message {
    font-size: 1.15rem;
    color: var(--primary-text-color);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;

    .button {
      width: 100%;
    }
  }
}
