.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 4rem 32rem;
  background-color: var(--main-background);

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .title {
      margin: 0;
      text-align: left;
      width: 100%;
      font-size: 2rem;
      font-weight: 700;
      color: var(--primary-text-color);
    }

    .subTitle {
      font-size: 1rem;
      text-align: left;
      width: 100%;
      color: var(--primary-text-color);
      font-weight: 500;
    }
  }

  .sections {
    .settings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .changePassword {
      margin: 2rem auto;
    }
  }
}
