.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-overlay);

  .leftSide {
    color: var(--primary-text-color);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .rightSide {
    position: relative;

    .workspaceMembers {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .profileImage {
        width: 1rem;
        height: 1rem;
      }
    }

    .memberDetails {
      position: absolute;
      width: max-content;
      right: 0;
      bottom: -100px;
      padding: 0.5rem;
      background-color: var(--card-background);
      border: 1px solid var(--border);
      border-radius: 0.3rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .upperSide {
        display: flex;
        align-items: center;
        gap: 1rem;

        .userDetails {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .name {
            font-size: 1rem;
            font-weight: 800;
            color: var(--primary-text-color);
          }

          .email {
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--primary-text-color-weak);
          }
        }
      }

      .remove {
        text-decoration: underline;
        color: var(--primary-text-color-weak);
        font-size: 0.85rem;
        cursor: pointer;
        text-align: right;

        &:hover {
          color: var(--primary-text-color);
        }
      }
    }
  }
}
