@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --auth-layout-background: #80808025;
    --primary-red: #d40000;
    --box-shadow: #808080;
    --button-blue: #2463eb;
    --button-blue-hover: #1d4ed8;
    --button-text: #ffffff;
    --button-border: #ffffff;
    --input-border: #d1d5db;
    --focus-border: #60a5fa;
    --main-background: #1d2125;
    --main-background-hover: #ffffff20;
    --main-background-overlay: #00000075;
    --primary-text-color: #b6c2cf;
    --primary-text-color-weak: #b6c2cf40;
    --input-background: #8c9bab;
    --input-border: #738496;
    --border: #ffffff29;
    --card-background: #22272b;
    --board-background: #b6c2cf;
    --shadow: #00000050;
    --task-list-background: #2c3136;
    --task-list-border: #42474e;
    --task-list-header-background: #121619;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-family: var(--font-domine);
}

body {
  margin: 0;
  background-color: var(--main-background);
  overflow: hidden;
  overflow-y: auto;
}
