:root {
  --main: #d40000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-family: var(--font-domine);
}

body {
  margin: 0;
}
