.container {
  position: relative;
  width: 400px;
  max-height: 100%;
  border-radius: 0.3rem;
  background-color: var(--task-list-background);
  border: 1px solid var(--task-list-border);

  &.containerPadding {
    padding-bottom: calc(60px + 2rem);
  }

  .header {
    width: 100%;
    height: 60px;
    background-color: var(--task-list-header-background);
    padding: 1rem;
    color: white;
    border-radius: 0.3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .options {
      .optionsListTrigger {
        cursor: pointer;
        position: relative;
      }

      .optionsList {
        position: absolute;
        z-index: 10;
        right: -20px;
        opacity: 0;
        background-color: var(--task-list-header-background);
        border: 1px solid var(--border);
        border-radius: 0.3rem;
        pointer-events: none;
        transition: opacity 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &.active {
          opacity: 1;
          pointer-events: auto;
        }

        .option {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem;
          background-color: var(--task-list-header-background);
          transition: background-color 0.25s ease-in-out;

          &:hover {
            background-color: var(--main-background-hover);
            cursor: pointer;
          }
        }
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.25rem;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100% - 110px);
    height: 100%;

    &.extend {
      padding-bottom: 4rem;
    }

    .shadow {
      width: 100%;
      height: 60px;
      background-color: var(--shadow);

      &.marginTop {
        margin-top: 1rem;
      }

      &.marginBottom {
        margin-bottom: 1rem;
      }
    }
  }

  .addTask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--task-list-header-background);
    height: fit-content;
    display: flex;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--button-blue-hover);
    }

    &.addTaskActive {
      width: 100%;
      padding: 1rem;
      background-color: var(--task-list-header-background);
      z-index: 10000;

      .wrapper {
        padding-right: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        textarea {
          width: 100%;
          height: 60px;
          border-radius: 0.3rem;
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    .addTaskText {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      width: 100%;
      cursor: pointer;
      padding: 1rem;
    }
  }
}
