.profileImage {
  padding: 1rem;
  background-color: var(--input-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 64px;
  max-height: 64px;
  overflow: hidden;

  .imageWrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    opacity: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 100;
    }

    .camera {
      color: var(--primary-text-color);
      opacity: 20;
    }
  }

  .image {
    width: 1rem;
    height: 1rem;
    color: var(--primary-text-color);
  }
}
