.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  overflow-y: auto;
  max-height: 600px;
  position: relative;

  .inputWrapper {
    padding: 0.5rem 1rem;
    .input {
      color: var(--primary-text-color);
    }
  }

  .colorPicker {
    padding: 0.5rem 1rem;
  }

  .buttons {
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    bottom: 0;
    background-color: var(--card-background);
  }
}
