.container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .input {
    color: var(--primary-text-color);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
