.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-background);
  border-bottom: 1px solid var(--border);
  transition: background-color 0.25s ease-in-out;

  &.dragActive {
    background-color: var(--main-background-overlay);
    cursor: not-allowed;
  }

  .topControls {
    display: flex;
    align-items: center;
    gap: 1rem;

    .searchbar {
      background-color: var(--input-background);
      border-radius: 0.3rem;
      color: var(--primary-text-color);

      .searchLogo {
        width: 1em;
        height: 1em;
        color: var(--primary-text-color);
      }
    }

    .notificationsWrapper {
      position: relative;
      cursor: pointer;

      .notifications {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--input-background);
        transition: background-color 0.3s ease-in-out;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          color: var(--primary-text-color);
        }

        &.notificationsAlert {
          background-color: var(--button-blue);
        }

        &:hover {
          background-color: var(--button-blue-hover);
        }
      }

      .notificationsCount {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--input-background);
        border-radius: 50%;
        padding: 0.25rem;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        border: 1px solid var(--border);

        &.countAlert {
          background-color: var(--button-blue);
          color: var(--button-text);
        }
      }

      .notificationsDropdown {
        position: absolute;
        top: 100%;
        right: 0;
        width: 24rem;
        height: fit-content;
        max-height: 24rem;
        overflow: clip;
        overflow-y: auto;
        z-index: 10;
        border-radius: 0.3rem;
        background-color: var(--main-background);
        border: 1px solid var(--border);
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;

        &.active {
          opacity: 1;
          pointer-events: auto;
        }

        .notificationWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          border-bottom: 1px solid var(--border);
          padding: 0.5rem;

          &.unread {
            background-color: var(--button-blue);

            &:hover {
              background-color: var(--button-blue-hover);
            }
          }

          .senderInformation {
            display: flex;
            align-items: center;
            gap: 1rem;

            .senderDetails {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .name {
                color: var(--primary-text-color);
                font-size: 1rem;
                font-weight: 500;
              }

              .message {
                color: var(--primary-text-color);
                font-size: 0.75rem;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                max-width: 16rem;
              }
            }
          }

          .createdAt {
            font-size: 0.6rem;
            font-weight: 400;
            color: var(--primary-text-color-weak);
            text-align: right;
            width: 100%;
          }
        }
      }
    }

    .profileWrapper {
      position: relative;
      .profileButton {
        cursor: pointer;
      }

      .dropdownMenu {
        position: absolute;
        border-radius: 0.3rem;
        bottom: -140px;
        right: 0;
        z-index: 10;
        background-color: var(--main-background);
        width: fit-content;
        list-style: none;
        padding: 0;
        pointer-events: all;
        opacity: 100;
        transition: opacity 0.2s ease-in-out;
        border: 1px solid var(--border);

        &.hideDropdownMenu {
          opacity: 0;
          pointer-events: none;
        }

        .menuItem {
          display: flex;
          align-items: center;
          padding: 0.5rem 2rem 0.5rem 0.5rem;
          gap: 1rem;
          white-space: nowrap;
          color: var(--primary-text-color);
          border-bottom: 1px solid var(--border);
          transition: background-color 0.25s linear;

          &:hover {
            background-color: var(--main-background-hover);
            cursor: pointer;
          }

          &:last-child {
            padding-left: 1.25rem;
            border-bottom: none;
          }

          .user {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--primary-text-color);

            .userInformation {
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
}
