.container {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--auth-layout-background);
  color: white;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .loading {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 4px solid var(--border);
      border-top-color: var(--button-blue);
      animation: rotate infinite 1s ease-in-out;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
