.container {
  width: 100%;
  height: fit-content;
  border-radius: 0.3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2f35;
  color: #e4ecf4;
  border: 1px solid #40464e;

  position: relative;

  &:hover {
    background-color: #33393f;
    cursor: pointer;
  }

  &.active {
    pointer-events: none;
    background-color: #00000050;
  }

  .createBoard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    &.createBoardActive {
      z-index: 50;
    }

    .textArea {
      border-radius: 0.3rem;

      &:focus {
        outline: 1px solid var(--button-blue);
      }
    }

    .buttons {
      position: absolute;
      right: 0;
      bottom: -2.5rem;

      button {
        width: 4rem;
      }
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .boardNameSide {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .checkbox {
        width: 0;
        transition: width 0.25s ease-in-out;

        &.checkboxVisible {
          width: 40px;
        }
      }
    }

    .editButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      border-radius: 0.3rem;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--button-blue-hover);
        cursor: pointer;
      }
    }
  }
}
